.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.gpt3__cta-content h4 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;

}

.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt3__cta-btn button {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #FFFFFF;
    background: #000000;
    border-radius: 40px;

    padding: 0.7rem 1rem;
    min-width: 150px;
    cursor: pointer;

    outline: none;
    border: none;

    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
}

.gpt3__cta-btn button:hover {
    background-color: white;
    color: #000000;
  }
  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }

@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        margin: 4rem 2rem;
    }

    .gpt3__cta-btn button{
        font-size: 14px;
        line-height: 28px;
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }
}